@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --grey: #999;
  --light-grey: #eee;
  --dark-grey: #333;
  --blue: #4c8bf5;
  --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.4;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
  margin-block-end: 1.6rem;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--dark-grey);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grey);
  height: 8rem;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.main-nav-list {
  display: flex;
  gap: 1.6rem;
  list-style-type: none;
  font-size: 1.6rem;
}

.main-nav-link {
  padding: 1.2rem 1.6rem;
  opacity: 0.8;
  transition: opacity 0.15s ease-in-out;
  position: relative;
}

.main-nav-link:hover {
  opacity: 1;
}

.main-nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1.2rem;
  height: 2px;
  background-color: var(--dark-grey);
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.15s ease-in;
  transform-origin: 0 0;
}

.main-nav-link:hover:after {
  transform: scaleX(0.9);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: 4.8rem;
}

.main,
.reminder {
  padding-block-start: 3.2rem;
  padding-block-end: 4.8rem;
}

.form {
  display: grid;
  gap: 2rem;
}

.form > div {
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 2rem;
  align-items: baseline;
}

.form > div:last-child button {
  grid-column: 2 / -1;
  margin-left: auto;
  margin-block-start: 0.8rem;
}

.label {
  font-size: 1.8rem;
  font-weight: 500;
}

.input {
  background-color: var(--light-grey);
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
}

.btn {
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background-color: var(--blue);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);
  transition: padding 0.15s linear;
  padding: 1.2rem 2.4rem;
}

.btn:disabled {
  background-color: var(--light-grey);
  color: var(--grey);
  cursor: not-allowed;
}

.btn:before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: 0 4px 12px 2px rgba(8, 14, 24, 0.25);
  opacity: 0;
  transition: 0.2s ease-out;
  border-radius: inherit;
}

.btn:hover:before {
  opacity: 1;
}

.btn.spinning {
  padding-right: 4.8rem;
}

.btn:disabled:hover:before {
  opacity: 0;
}

.btn.spinning:after {
  content: '';
  height: 2rem;
  width: 2rem;
  border: 3px solid var(--grey);
  position: absolute;
  right: 2rem;
  border-radius: 50%;
  border-top: 3px solid var(--blue);
  animation: spinner 0.5s ease-in-out infinite;
}

.input,
.btn {
  border: none;
  border-radius: 4px;
}

.table-container {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 12px 2px rgba(8, 14, 24, 0.2);
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.thead tr {
  background-color: var(--dark-grey);
  color: var(--white);
}

.thead th {
  padding-block: 1.8rem;
  font-size: 1.8rem;
}

.table-body {
  max-height: 28.8rem;
  overflow-y: auto;
}

.tbody::-webkit-scrollbar {
  display: none;
}

.tbody td {
  padding-block: 1.6rem;
  font-size: 1.6rem;
  color: var(--dark-grey);
}

.tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.column1 {
  width: 15%;
  padding-inline-start: 3.2rem;
}

.column2 {
  width: 35%;
  padding-inline-end: 1.2rem;
  word-spacing: 4px;
}

.column3 {
  width: 50%;
  padding-inline-end: 1.2rem;
}

.tbody .nothing {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--grey);
  padding-block-start: 7.2rem;
  padding-block-end: 9.6rem;
}

.reminders {
  margin-left: auto;
}

@keyframes spinner {
  from {
    transform: translateY(-2px) rotate(0deg);
  }
  to {
    transform: translateY(-2px) rotate(359deg);
  }
}

@keyframes slider {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 10%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  .container {
    margin: 0 auto;
    padding-inline: 2.4rem;
  }

  .form {
    gap: 3.2rem;
  }

  .form > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .form > div:last-child button {
    width: 100%;
  }
}
